{% extends 'base.html.twig' %}

{% block title %}YouGame - Games{% endblock %}

{% block body %}
        <div>   
            <h1>Jeux disponible</h1>
            <ul>
                    {% for game in gameList %}
                        <li>{{ game.title }} {{ game.plateform }} :
                        {{ game.description }} - {{ game.releaseDate|date('d F Y') }}</li>
                    {% endfor %}
            </ul>

            <a href="{{ path('create_game') }}">Créer un nouveau jeu</a>
        </div>
{% endblock %}