{% extends 'base.html.twig' %}

{% block title %}YouGame - Register{% endblock %}

{% block body %}
    <div class="content">
        <h1>Inscription</h1>
        {{ form_start(form) }}

        {{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.lastName, {'attr': {'class': 'form-input'}}) }}
        <div class="form-error">{{ form_errors(form.lastName) }}</div>

        {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.firstName, {'attr': {'class': 'form-input'}}) }}
        <div class="form-error">{{ form_errors(form.firstName) }}</div>

        {{ form_label(form.birthDate, "Date de Naissance", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.birthDate, {'attr': {'class': 'form-input'}}) }}
        <div class="form-error">{{ form_errors(form.birthDate) }}</div>

        {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-input'}}) }}
        <div class="form-error">{{ form_errors(form.email) }}</div>

        {{ form_label(form.password.first, "Mot de passe", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.password.first, {'attr': {'class': 'form-input'}}) }}
        <div class="form-error">{{ form_errors(form.password.first) }}</div>

        {{ form_label(form.password.second, "Conirmer le mot de passe", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.password.second, {'attr': {'class': 'form-input'}}) }}
        <div class="form-error">{{ form_errors(form.password.second) }}</div>

        {{ form_widget(form.submit, { 'label': 'Inscrire', 'attr': {'class': 'btn-sub'} }) }}
        {{ form_end(form) }}
    </div>

    <div class="space"></div>
{% endblock %}
