{% extends 'base.html.twig' %}

{% block title %}YouGame - Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(form) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.firstName) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_row(form.birthDate) }}
    {{ form_row(form.password) }}
    <span class="text-danger">{{ form_errors(form.password) }}</span>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
