{% extends 'base.html.twig' %}

{% block title %}YouGame - User{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <h1>Membres</h1>
        {% for user in users %}
            <li><a href="{{ path('show_user', {id: user.id }) }}">{{ user.getLastName }} {{ user.getFirstName }}</a>:
                {{ user.getEmail }} - {{ user.getBirthDate|date('d F Y') }}</li>
        {% endfor %}
        <a href="{{ path('register') }}">Ajouter un Utilisateur</a>
    {% endif %}

{% endblock %}
