{% extends 'base.html.twig' %}

{% block title %}YouGame - User{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <div class="content">
            <h1>Membres</h1>
            <ul class="ul-list">
                {% for user in users %}
                    <li class="li-list list-game">
                        <a href="{{ path('show_user', {id: user.id }) }}">{{ user.getLastName }} {{ user.getFirstName }}</a>&nbsp;:&nbsp;
                        {{ user.getEmail }} - {{ user.getBirthDate|date('d F Y') }}
                    </li>
                {% endfor %}
            </ul>
            <a class="btn-add" href="{{ path('register') }}">Ajouter un Utilisateur</a>
        </div>

    {% endif %}

{% endblock %}
