{% extends 'base.html.twig' %}

{% block title %}YouGame - {{ user.lastName }} {{ user.firstName }}{% endblock %}

{% block body %}
    <h1>{{ user.lastName }} {{ user.firstName }}</h1>
    <div>Date de Naissance : {{ user.getBirthDate|date("d/m/Y") }}</div>
    <div>Adresse e-mail : {{ user.getEmail }}</div>
    <div>Date d'inscription : {{ user.getCreatedAt|date("d/m/Y") }}</div>
    <div>Favoris :
        <br />
        {% for game in user.getFavorites %}
            <li><a href="{{ path("show_game", {id: game.id })}}">{{ game.title }}</a></li>
        {% endfor %}
    </div>
    <br />
    <br />
    <br />
    <br />
    <h1>Modifier l'utlisateur</h1>
    {{form(form)}}
    <a class="text-danger" href="{{ path('delete_user', {id: user.id }) }}">Supprimer l'utilisateur</a>
    <br />
    <br />
    <br />
    <br />
{% endblock %}
